.searchBar {
    width: 200px;
    height: 40px;
    border-radius: 50px;
    border: none;
    outline: none;
    margin-right: 10px;
    padding-left: 15px;
}

.containerLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px

}

.containerSearchIcon {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}