.wrapperHumidityAndWind {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 3px;
}

.wrapperCurrentWeatherIcon {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.quickStats {
    /* border: green solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.wrapperHumidity {
    display: flex;
}

.wrapperWind {
    display: flex;
}

.currentTemp {
    font-size: 100px;
    font-weight: 500;
    border: solid red;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 15px;
}

