.currentCity {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.date {
    display: flex;
    justify-content: center;
    line-height: 10px;
    
}

.lettersCurrentCity {
    text-transform: uppercase;
}